.people {
    width: 90%;
    margin-inline: auto;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(220px, 1fr)
    );
}

.people__card {
    height: 19rem;
    width: 11rem;
    padding: .7rem;
    background: var(--white);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.people__img {
    display: block;
    max-width: 100%;
    height: auto;
}


